.title {
  text-align: left;
}

.button {
  background-color: #3FC1C9;
  border: 0;
  margin-top: 20px;
  height: 40px;
  width: 180px;
}

.button:hover {
  background-color: #34B1B9;
}

.button:focus {
  background-color: #34B1B9;
}


.link:hover{
  text-decoration: none;
}
